<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Scavenger Hunt Find!</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/Navigation-with-Button.css">
<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<nav class="navbar navbar-light navbar-expand-md bg-primary navigation-clean-button">
		<div class="container">
			<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navcol-1">
				<ul class="nav navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link active text-light" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link text-light" href="#">About</a></li>
				</ul>
				<span class="navbar-text actions">
					<a class="text-light login" href="login">Log In</a>
					<a class="btn btn-light action-button" role="button" href="register">Sign Up</a>
				</span>
			</div>
		</div>
	</nav>
	<h1 class="text-center" style="margin: 30px;">Congratulations!</h1>
	<p class="text-center">
		You found a QR code!<br> <br>You can find out more about what this is in the About tab.<br>
		<br>For now, the hint to the next QR code is:
	</p>
	<p class="text-center" th:text="${hint}"></p>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>